@if(loading){
<app-loading [message]="false" />

} @else{

@if (pendingFollowers.length === 0) {
<div class="section-friend-div">
  <span class="section-span-friend-request">Personas que quizas conozcas</span>
</div>
<div class="section-friend-request">
  @for(request of randomUsers ; track request.id){
  <app-random-profile [targetUserPicture]="request.picture" [targetUserNickname]="request.nickname"
    [loggedInUserNickname]="loggedInUserNickname" (clicked)="ngOnChanges($event)" />
  }
</div>
}@else {
<div class="section-friend-div">
  <span class="section-span-friend-request">Solicitudes de amistad</span>
</div>
<div class="section-friend-request">
  @for(request of pendingFollowers ; track request.id){
  <friend-profile [targetUserPicture]="request.senderPicture" [targetUserNickname]="request.senderNickname"
    [loggedInUserNickname]="loggedInUserNickname" (clicked)="ngOnChanges($event)" />
  }
</div>
}
}