<!-- <div *ngIf="loading">Cargando...</div> -->
<div class="profile-header">
  <div></div>
  <img src="{{ picture }}" alt="Profile Picture" class="profile-picture" />
  <div class="profile-info">
    <div class="profile-top">
      <h2>{{ username }}</h2>
      @if(follow === 'Accepted'){
      <button class="unfollow-button create">Dejar de seguir</button>
      }@else if(follow === 'Pending') {
      <button class="pending-button create">Pendiente</button>
      }@else {
      <button (click)="followUser()" class="follow-button create">
        Seguir
      </button>

      }
    </div>

    <div class="profile-stats">
      @if (posts.length === 1) {
      <div>
        <span>{{ posts.length }}</span> publicación
      </div>
      }@else {
      <div>
        <span>{{ posts.length }}</span> publicaciones
      </div>
      } @if (acceptedFollowersCount === 1) {
      <div>
        <span>{{ acceptedFollowersCount }}</span> seguidor
      </div>
      }@else {
      <div>
        <span>{{ acceptedFollowersCount }}</span> seguidores
      </div>
      } @if (acceptedFollowingCount === 1) {
      <div>
        <span>{{ acceptedFollowingCount }}</span> seguido
      </div>
      }@else {
      <div>
        <span>{{ acceptedFollowingCount }}</span> seguidos
      </div>
      }
    </div>
  </div>
</div>

<div class="post-grid">
  @for (item of posts; track $index) {
  <div class="post">
    <img src="{{ item.uri_resource }}" alt="{{ item.description }}" />
  </div>
  }
</div>
