.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
    max-height: calc(100vh - 76px);
}

.section-friends-side {
    flex-shrink: 0;
    width: 30vw;
    min-width: 300px;
    max-width: 330px;
    margin: 1.5rem 4rem 0 2rem;
}

.posts-container {
    flex: 1;
    overflow-y: auto;

}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #dbdbdb;
}

.profile-info {
    flex-grow: 1;
    align-items: center
}

.profile-info h2 {
    margin: 0;
}

.profile-stats {
    display: flex;
    margin-top: 10px;
}

.profile-stats div {
    margin-right: 20px;
}

.profile-stats div span {
    font-weight: bold;
}

.profile-bio {
    margin-top: 10px;
}

/* .post-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    justify-content: center;
} */
.post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    gap: 50px 10px;
    padding: 10px;

    /* padding: 20px; */
}

.post {
    width: 100%;
    height: 40vh;
    background-color: #fff;
}

.post img {
    width: 100%;
    height: 100%;
    /* display: block; */
}

.profile-top {
    display: flex;
    align-items: center;
}

.create {
    padding: 10px 20px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    color: white;
    position: relative;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.4s;
}

.create::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

.create:hover::after {
    transform: translate(-50%, -50%) scale(1);
}

.follow-button {
    background-color: var(--main-color);

}

.unfollow-button {
    background-color: var(--gray-color);
}

.pending-button {
    background-color: var(--blue-color);
}
.pending-button:hover {
    background-color: var(--blue-color);
}

.locked-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #555;
  }
  
  .lock-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjM2IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNiIgZGF0YS1oYXJuZXNzPSJ0cnVlIiBjbGFzcz0iaGFybmVzcyBfaWNvbiBfaWNvbi1sb2NrX2hhcm5lc3MiIHJvbGU9ImltZyIgYXJpYS1sYWJlbD0ibG9jayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTIwIDkuOThWMjRoLTE2VjkuOThoLTJ2LTEuODg5YzAtMy4wNzEgMi4zODktNS41NjEgNS42LTMuODQ2IDIuMDIxLTIuMjMxIDQuNjEtMi4zNDcgNi4zNjkgMS40OTcuNDgxIDUuNjg4LS4xMDggNS42ODggMy4zOTF2MS44ODloLTJ6TTExIDRjLTEuODMgMC0zIDEuMzYtMyAzLjA5MlY5LjhIMTNWNy4wOTJDMTMgNS4zNiAxMi4xMyA0IDExIDR6bTEuNSA1VjkuOThIMTQuOTlWNi4zNDRhMS41IDEuNSAwIDAgMC0zIDBWNnptMS0xMi40NS4wMSAwIDAgMS0uMDEgMCAwIC4wMDF6Ii8+IDwvc3ZnPjog');
    background-size: cover;
  }

