.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    display: flex;
    flex: 1;
    max-height: calc(100vh - 76px);
}

.section-friends-side {
    flex-shrink: 0;
    width: 30vw;
    min-width: 300px;
    max-width: 330px;
    margin: 1.5rem 4rem 0 2rem;
}

.posts-container {
    flex: 1;
    overflow-y: auto;

}



