.nav {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    background-color: var(--bg-color);
    min-height: 70px;
    height: 9vh;

    justify-content: space-between;
    /* Esto colocará los elementos a los extremos del nav */
    align-items: center;
    /* Esto alineará verticalmente los elementos */

}

.btn-logIn {
    background-color: #5E35B1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-logIn:hover {
    background-color: #4527A0;
    /* Cambia el color al hacer hover */
}

.nav-user {
    display: flex;
}

.nav-logo {
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.nav-div {
    display: flex;
}

.span-nav-profile-username {
    font-weight: bold;
}

.span-nav-profile-friends {
    color: #808080;
}

.nav-features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: auto;
}

.nav-current-user {
    margin-right: auto;
}

.nav-buttons {
    border-left: 1px solid gray;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.fi {
    color: #fff;
    font-size: 100%;
    display: flex;
    z-index: 99;
    display: flex;
    align-items: center;
}

.nav-home,
.nav-messages,
.nav-search,
.nav-friends,
.nav-logOut {
    position: relative;
    display: flex;
    background-color: var(--main-color);
    height: 2.5rem;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: transform 0.3s ease;
    }

    &:hover::after {
        transform: translate(-50%, -50%) scale(1);
    }

    &.nav-home:hover::before {
        content: "Inicio";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        z-index: 99;
    }

    &.nav-messages:hover::before {
        content: "Mensajes";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        z-index: 99;
    }

    &.nav-search:hover::before {
        content: "Buscar";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        z-index: 99;
    }

    &.nav-friends:hover::before {
        content: "Amigos";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        z-index: 99;
    }

    &.nav-logOut:hover::before {
        content: "Cerrar sesión";
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        z-index: 99;
    }
}

.create {
    padding: 10px 20px;
    margin-left: 20px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
    background-color: var(--main-color);
    color: white;
    position: relative;
    border-radius: 50px;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        border-radius: 50px;
        transition: transform 0.3s ease;
    }
    &:hover::after {
        transform: translate(-50%, -50%) scale(1);
    }

}
