<nav class="nav">
  <div class="nav-current-user">
    @if(auth.isAuthenticated$ | async){
    <div class="nav-user">
      <app-user-profile
        [username]="username"
        [picture]="picture"
        [followers]="acceptedFollowersCount"
      />
      <div class="create" routerLink="/upload">
        <i class="fi fi-sr-plus"></i>
        <span class="upload">Subir una foto</span>
      </div>
    </div>
    }@else {
    <button class="btn-logIn" (click)="logIn()">Iniciar sesión</button>
    }
  </div>
  <div class="nav-features">
    <div class="nav-div">
      <div class="nav-logo">
        <h1>InstaPic</h1>
      </div>
      <div class="nav-buttons">
        <div class="nav-home" routerLink="/">
          <i class="fi fi-sr-home icono"></i>
        </div>

        @if(auth.isAuthenticated$ | async){
        <div class="nav-search" (click)="hola()">
          <i class="fi fi-sr-search"></i>
        </div>
        <div class="nav-friends">
          <i class="fi fi-sr-users-alt"></i>
        </div>
        <div class="nav-messages">
          <i class="fi fi-sr-messages"></i>
        </div>
        <button class="nav-logOut" (click)="logOut()">
          <i class="fi fi-sr-exit"></i>
        </button>
        }
      </div>
    </div>
  </div>
</nav>
