<!-- <link
  rel="stylesheet"
  href="https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css"
/> -->

<nav class="nav">
  <div class="nav-current-user">
    @if(isLogged){
    <div class="nav-user">
      <app-user-profile />
      <div class="create">
        <i class="fi fi-sr-plus"></i>
        <span class="upload">Subir una foto</span>
      </div>
    </div>
    }@else {
    <button class="btn-logIn" (click)="isLogged = true">Iniciar sesión</button>
    }
  </div>
  <div class="nav-features">
    <div class="nav-div">
      <div class="nav-logo">
        <h1>InstaPic</h1>
      </div>
      <div class="nav-buttons">
        <div class="nav-home">
          <i class="fi fi-sr-home icono"></i>
        </div>
        <div class="nav-search">
          <i class="fi fi-sr-search"></i>
        </div>
        @if(isLogged){
        <div class="nav-friends">
          <i class="fi fi-sr-users-alt"></i>
        </div>
        <div class="nav-messages">
          <i class="fi fi-sr-messages"></i>
        </div>
        <button class="nav-logOut" (click)="isLogged = false">
          <i class="fi fi-sr-exit"></i>
        </button>
        }
      </div>
    </div>
  </div>
</nav>
