<div class="publication-container">
  <div class="image-container">
    <img src="{{ image }}" alt="Image 8" class="publication-image" />
    <div class="overlay">
      <div class="overlay-content">
        <div class="heart-icon">
          <i class="fi fi-sr-heart"></i>
        </div>
        <p>{{ likes }}</p>
      </div>
    </div>
  </div>
  <div>
    <div>
      <p>{{ username }}</p>
      <p>{{ description }}</p>
    </div>
    <div class="comments">
      @for(comment of getComments(); track comment.id ){
      <div class="comment">
        <p>{{ comment.username }}</p>
        <p>{{ comment.comment }}</p>
        <p>{{ comment.date }}</p>
      </div>
      }
      <form (ngSubmit)="submitComment()">
        <input
          [(ngModel)]="newComment"
          name="newComment"
          placeholder="Ingresa tu comentario..."
        />
        <button type="submit">Enviar Comentario</button>
      </form>
    </div>
    <p>{{ id }}</p>
  </div>
</div>
