.section-friends-side {
    height: calc(100vh - 76px);
    width: 25vw;
    margin:0 2rem 0 2rem;
    /* background-color: var(); */
}

.section-friend-div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.section-span-friend-request {
    color: #808080;
    font-size: 16px;
}

.section-friend-seeAll {
    font-size: 16px;

    &:hover {
        color: #808080;
        color: var(--main-color);
        cursor: pointer;
    }
}

.span-nav-profile-friends {
    color: #808080;

}

.section-friend-request {
    padding-top: 10px;
    display: grid;
    /* gap: 20px; */
}

.section-user-info {
    display: flex;
    align-items: center;
    margin: 8px 0;
    /* justify-content: space-between; */
}

.section-profile-info {
    display: grid;
    margin-left: 10px;
}

.span-section-profile-username {
    font-weight: bold;
}

.section-profile-pic {
    width: 44px;
    height: 44px;
    overflow: hidden;
    border-radius: 50%;
}

.section-profile-pic img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.section-user-buttons {
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 10px;
}

.span-friend-accept {
    color: #808080;
    &:hover {
        color: var(--main-color);
        /* text-decoration: underline; */
        cursor: pointer;
    }
}

.span-firend-ignore {
    color: #808080;
    &:hover {
        color: crimson;
        /* text-decoration: underline; */
        cursor: pointer;
    }
}